<div class="card">
    <div class="card-body">
        <h3 class="card-title">ชำระเงินแล้วแต่ยังไม่ได้บัตรสมาชิกสมาคมศิษย์เก่า ม.เกษตร</h3>
        <p class="card-text" style="margin-left: 20px;">- 02-579-2419 /FB : สมาคมนิสิตเก่ามหาวิทยาลัยเกษตรศาสตร์ ในพระบรมราชูปถัมภ์</p>
        <br>

        <h3 class="card-title">การเข้าระบบ intranet เพื่ออ่านวารสารงานวิจัยต่างประเทศ</h3>
        <p class="card-text" style="margin-left: 20px;">- ขอแนะนำให้ walk in ที่หอสมุดและคลังความรู้</p>
        <br>

        <h3 class="card-title">เป็นศิษย์เก่าขอทรานสคริปได้ไหม ถ้าได้ขอได้ที่ใด</h3>
        <p class="card-text" style="margin-left: 20px;">- ได้ ระดับปริญญาตรีที่ตึก 1 ฝ่ายการศึกษา</p>
    </div>
  </div>