<div class="card border-dark mb-3">
    <div class="card-header">เกี่ยวกับเรา</div>
    <div class="card-body text-dark">
        <h5 class="card-title">วิสัยทัศน์ (Vision)</h5>
        <p class="card-text">เป็นศูนย์กลางการให้บริการที่เป็นเลิศ เพื่อสนับสนุนพันธกิจของมหาวิทยาลัย</p>
        <br>

        <h5 class="card-title">พันธกิจ (Mission)</h5>
        <p class="card-text">
            1. มุ่งพัฒนากระบวนการที่มีคุณภาพ
            <br>
            2. มุ่งพัฒนาระบบสารสนเทศเพื่อการบริหารจัดการที่มีประสิทธิภาพ
        </p>
        <br>

        <h5 class="card-title">ประเด็นยุทธศาสตร์ (Strategic Issues)</h5>
        <p class="card-text">
            1. การพัฒนากระบวนการในการทำงานให้เกิดคุณภาพอย่างต่อเนื่อง
            <br>
            2. การพัฒนาระบบสารสนเทศเพื่อการบริหารจัดการที่มีประสิทธิภาพ
        </p>
        <br>

        <h5 class="card-title">เป้าประสงค์ (Goals)</h5>
        <p class="card-text">
            1. ความพึงพอใจของผู้รับบริการ
        <br>
            2. ข้อมูลถูกต้องแม่ยำ
        <br>
            3. กระบวนการทำงานที่มีประสิทธิภาพ
        <br>
            4. ระบบประกันคุณภาพที่มีประสิทธิภาพ
        <br>
            5. ระบบบริหารความเสี่ยงที่มีประสิทธิภาพ
        <br>
            6. การควบคุมต้นทุนและค่าใช้จ่ายอย่างมีประสิทธิภาพ
        <br>
            7. การบริหารทรัพยากรที่มีประสิทธิภาพ
        </p>
        <br>


    </div>
</div>