<div class="card border-dark mb-3" style="text-align: center;">
    <div class="card-header">
        <h2>ติดต่อเรา</h2>
    </div>
    <div class="card-body text-dark">
      <h3 class="card-title">ที่ตั้งหน่วยงานและวิทยาเขต</h3>
      <h4 class="card-title">มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา</h4>
      <p class="card-text">199 ถนนสุขุมวิท ตำบลทุ่งสุขลา อำเภอศรีราชา จังหวัดชลบุรี โทรศัพท์ : 0-3835-4580-6 โทรสาร : 0-3835-1169</p>     
      <br>
      
      <h4 class="card-title">สำนักงานประสานงานวิทยาเขต มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตบางเขน</h4>
      <p class="card-text">50 ถนนพหลโยธิน แขวงลาดยาว เขตจตุจักร กรุงเทพมหานคร 10903
          <br>
        ห้อง 701 อาคารวิทยบริการ ชั้น 7 ติดกับอาคารธนาคารกรุงศรีอยุธยา บริเวณประตู 1
        <br>
        โทรศัพท์ :0-2942-8878 , โทรสาร : 0-2942-8878
    </p>
      

    </div>
  </div>